* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: white;
    padding: 30px;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

.add-btn,
.save-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.task-form {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.task-form input,
.task-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: black;
    color: white;
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid lightgray;
}

.edit-btn {
    background-color: orange;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}